.resume {
    width: 210mm; 
    height: 95vh; 
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    font-style: normal;
    overflow: auto;
}

.overflow-warning {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(138, 171, 184, 0.972);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    font-weight: bold;
}

#template1 .title-size {
    font-size: 30px;
    color: #545454;
    white-space: nowrap;
    font-weight: 700;
}

#template1 .sub-title-size {
    font-size: 20px;
    color: #545454;
    font-weight: 570;
}

#template1 .second-sub-title-size {
    font-weight: 650;
}

#template1 .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545454;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    color: white;
}

#template1 svg {
    height: 14px;
    width: 14px;
}

#template1 .grey-bg-color {
    background-color: #f4f4f4;
    border-bottom: 5px solid #545454;
}

#template1 .skills-bg {
    background-color: #f4f4f4;
    border-radius: 10px;
}

#template1 .template-container {
    width: fit-content;
    margin: 20px 10px;
    border: 1px solid #d5d3d3;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#template1 .user-form {
    margin: 20px 10px;
}

/* Template 2 */

html[dir="ltr"] #template2{
    font-family: "Poppins", serif;
    font-style: normal;
    color: #4a454b;
    font-size: 11px;
    font-weight: 300;
}

html[dir="rtl"] body {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #4a454b;
    font-size: 11px;
    font-weight: 300;
}

#template2 .head-line {
    height: 70px;
    background-color: #f0cfc3;
}

#template2 .title-name{
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
}

#template2 .title-description{
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 4px;
}

#template2 .icons-box {
    color: #4a454b;
}

#template2 svg {
    height: 16px;
    width: 16px;
}

#template2 .sub-title-size {
    font-size: 20px;
    color: #545454;
    font-weight: 570;
    letter-spacing: 2px;
}

#template2 .second-sub-title-size {
    font-size: 13px;
    font-weight: 600;
}

#template2 .year-style{
    font-weight: 500;
}

#template2 .skills-list{
    list-style-type: none;
}